<div>
  <div>
    <span><strong>Name</strong>:</span>
    <span>{{name}}</span>
  </div>
  <div>
    <span><strong>Date</strong>:</span>
    <span>{{date}}</span>
  </div>
  <div>
    <span><strong>Location</strong>:</span>
    <span>{{location}}</span>
  </div>
  <div>
    <span><strong>Rating</strong>:</span>
    <span>{{rating}}</span>
  </div>
  <div>
    <span><strong>Attendees</strong>:</span>
    <span>{{attendees}}</span>
  </div>
  <div>
    <span><strong>Notes</strong>:</span>
    <span>{{notes}}</span>
  </div>
</div>
<br/>