<fieldset {{#if _id}} class="visiting" {{/if}}>
  <label>Restaurant Name</label>
  {{#if name}}
    <input type="text" name="name" value="{{name}}">
  {{else}}
    <input type="text" name="name" placeholder="Savinos">
  {{/if}}
  <label>Date Visited</label>
  {{#if date}}
    <input type="text" name="date" value="{{date}}">
  {{else}}
    <input type="text" name="date" placeholder="February 14, 2013">
  {{/if}}
  <label>Attendees</label>
  {{#if attendees}}
    <input type="text" name="attendees" value="{{attendees}}">
  {{else}}
    <input type="text" name="attendees" placeholder="Louis, Patience">
  {{/if}}
  <label>Location</label>
  {{#if location}}
    <input type="text" name="location" value="{{location}}">
  {{else}}
    <input type="text" name="location" placeholder="Boston - Atlanic Wharf">
  {{/if}}
  <label>Rating</label>
  {{#if rating}}
    <input type="text" name="rating" value="{{rating}}">
  {{else}}
    <input type="text" name="rating" placeholder="1-5">
  {{/if}}
  <label>Special Notes</label>
  {{#if notes}}
    <textarea name="notes">{{notes}}</textarea>
  {{else}}
    <textarea name="notes" placeholder="Enter special notes here"></textarea>
  {{/if}}
  {{#if _id}}
    <label>Visited <input type="checkbox" name="visited" checked></label>
  {{else}}
    <label>Visited <input type="checkbox" name="visited"></label>
  {{/if}}
  <div>
    {{#if _id}}
      <button id="vist-button" class="btn" data-id={{_id}}>Visit</button>
    {{else}}
      <button type="submit" class="btn">Add</button>
    {{/if}}
  <div>
</fieldset>
